
.createButtonDiv {
  position: fixed;
  right: 50%;
  bottom: 20px;
  transform: translate(50%, -50%);
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .createButtonDiv {
    position: fixed;
    right: 40px;
    bottom: 40px;
    transform: translate(0%, 0%);
  }
}

.transaction {
  margin-top: 50px;
}

.first {
  width: 300px;
  float:left;
  margin-right: 5px;
}
.second {
  overflow: hidden;
}

.title{
  font-size: 20px;
  margin-right: 130px;
}

.description{
  margin-right: 500px;
  color: gray;
}

.description_left{
  margin-right: 20px;
}

.payed_amount {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 60px;
}


