<div>

  <!--list of all transactions-->
  <mat-action-list>
    <button mat-list-item class="transaction" *ngFor="let transaction of transactions" (click)="editExpense(transaction)">
      <mat-card>
        <!--TODO Add more info of transaction here-->
        <div class="leftTransaction">
          <mat-label class="title">{{transaction.name}}</mat-label>
          <mat-label class="payed_text" >Payed by {{transaction.payer.contact.name}}</mat-label>
        </div>
        <div class="rightTransaction">
          <mat-label>{{transaction.payer.amount}}{{currencyMap[transaction.group.currency]}}</mat-label>
          <mat-label>{{transaction.creationDate.getDay()}}.{{transaction.creationDate.getMonth()}}.{{transaction.creationDate.getFullYear()}}</mat-label>
        </div>
      </mat-card>

    </button>

  </mat-action-list>

</div>

<div>

  <div class="createButtonDiv">
    <mat-spinner class="first" *ngIf="loadingEditExpense || loadingCreateExpense" [diameter]="30"></mat-spinner>
    <!--Button to open the create Transaction Dialog-->
    <button class="second" mat-raised-button color="primary" (click)="createExpense()">create Transaction</button>
  </div>


</div>
