<h1>{{data.modalTitle}}</h1>
<div mat-dialog-content>

  <!--TODO implement that you can add multiple amounts and recipients-->
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" placeholder="Insert Description" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Payer</mat-label>
    <input matInput [(ngModel)]="data.payerId" placeholder="Insert Payer" value="">
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="isAdvanced" >Advanced</mat-slide-toggle>

  <mat-action-list>
    <mat-list-item *ngFor="let recipient of data.recipientsId; let i = index">
      <div><mat-checkbox [(ngModel)]="data.isAdded[i]"></mat-checkbox></div>
      <mat-label>{{recipient}}</mat-label>
      <input matInput type="number" [disabled]="isAdvanced" [(ngModel)]="data.amount[i]">
      <mat-label>{{data.amount[i]}}</mat-label>
    </mat-list-item>
  </mat-action-list>

  <!--Cancel and ave buttons-->
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" >Save</button>

</div>
