.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
    height: 11vh;
}

.logout{
    position: absolute;
    right: 10px;
    top: 30px;
}

.userName{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: small;
}

@media only screen and (min-width: 1200px) {
    .userName{
        position: relative;
        margin-left: 20px;
        font-size: small;
    }

    .logout{
        position: absolute;
        right: 10px;
        top: auto;
    }
}
