
/*places the card that contains all elements in the center*/
.center {
  margin: auto;
  max-width: 300px;
  padding: 20px;
}

.centerspinner {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*Places all elements vertically under each other*/
.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*makes the input boxes full length*/
.full-width {
  width: 100%;
}

/* centers the title and configures it*/
.centerText {
  text-align: center;
  font-size: 300%;
  padding: 30px;
}

/*Makes the div cover the hole screen and colors it
TODO Remove scroll that is caused by the height:100% parameter*/
.baseDiv {
  padding-top: 25vh;
  background-color: lightblue;
  height: 75vh;
}
