<div class = "baseDiv">
  <mat-card class = "center">

    <!--contains the Title text-->
    <div class = "centerText">
      <mat-label>Matrix Pay</mat-label>
    </div>

    <!--contains input box for userName-->
    <div class = "row">
      <mat-form-field appearance="fill" class = "full-width">
        <mat-label>Matrix ID</mat-label>
        <input matInput [formControl]="matrixUrlControl">
        <mat-error *ngIf="matrixUrlControl.invalid">{{getMatrixUrlErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--contains Password box-->
    <div class = "row">
      <mat-form-field appearance="fill" class = "full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl">
        <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!--contains Login button-->
    <div class = "row">
      <button mat-raised-button (click) = 'login()' class = "row" color="primary" [disabled]="passwordControl.invalid || matrixUrlControl.invalid">Login</button>
    </div>


  </mat-card>


</div>


