<h1>Add user to {{data.group}}</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Group Name</mat-label>
    <input matInput [formControl]="formControlUser" placeholder="Insert Group Name" value="">
    <mat-error *ngIf="formControlUser.invalid">{{getInvalidUserErrorMessage()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSave()" >Save</button>
  <mat-error *ngIf="formControlUser.invalid">{{getInvalidUserErrorMessage()}}</mat-error>

</div>
