.sidenav-container {
  height: 89vh;
  /*TODO make it so that this view isn't scrollable anymore*/
}

.spinner{
  position: absolute;
  top: 4px;
  margin-left: 100px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.group_title {
  position: absolute;
  top: 8px;
  left: 16px;
}

.groupButtons {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toolbar {
  height: 180px;
}

.buttonDiv{
  margin-top: 35px;
}

@media only screen and (min-width: 1200px) {
  .groupButtons {
    display: inline;
    position: relative;
    margin-left: 10px;
  }

  .toolbar {
    height: 50px;
  }

  .buttonDiv{
    margin-top: auto;
    position: absolute;
    right: 10px;
  }
}




