<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Group Menu</mat-toolbar>
    <mat-action-list>
      <a mat-list-item *ngFor="let group of groups, index as i" (click)="selectGroup(i)">{{group.name}}</a>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-label>{{currentGroup.name}}</mat-label>
      <mat-spinner *ngIf="loadingAddGroup || loadingLeaveGroup || loadingAddMember" class="spinner" color="accent" [diameter]="30"></mat-spinner>
      <div class="buttonDiv">
        <button mat-raised-button class = "groupButtons" (click)="leaveGroup()">Leave Group</button>
        <button mat-raised-button class = "groupButtons" (click)="addGroup()">Create Group</button>
        <button mat-raised-button class = "groupButtons" (click)="addMemberToGroup()">Add User to Group</button>
      </div>

    </mat-toolbar>
    <!--tabs for balance and transactions-->
    <mat-tab-group animationDuration = "0ms">
      <!--Pass the current selected group to the transaction and group component, so the correct data can be fetched-->
      <mat-tab label="Transactions"><app-group-transaction [group]="currentGroup"></app-group-transaction></mat-tab>
      <mat-tab label="Balances"><app-group-balance [group]="currentGroup"></app-group-balance></mat-tab>
      <mat-tab label="History"><app-history [group]="currentGroup"></app-history></mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>

</mat-sidenav-container>
