.first {
  float:left;
  margin-right: 5px;
}
.second {
  overflow: hidden;
}

.absolute{
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

.settings_label{
  font-size: 15px;
  margin-right: 10px;
}
