
<div class="absolute">

  <!--language dropdown and label-->
  <!--<div>
    <mat-label class="settings_label">Language</mat-label>

    <mat-form-field appearance="fill">
      <mat-select [(value)]="selectedLanguage">
        <mat-option *ngFor="let language of languageMap, index as i" [value]="i">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->

  <!--currency dropdown and label-->
  <div>
    <mat-label class="settings_label">Default Currency</mat-label>

    <mat-form-field appearance="fill">
      <mat-select [(value)]="selectedCurrency">
        <mat-option *ngFor="let currency of currencyMap, index as j" [value]="j">{{currency}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>

    <button class="first" mat-raised-button color="primary" (click)="applySettings()">Apply</button>
    <mat-spinner class="second" *ngIf="loadingCurrency" [diameter]="30"></mat-spinner>

  </div>

</div>


