<div>

  <div  class="center">
    <ngx-charts-bar-horizontal
    [results]="balanceData"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="true"
    [customColors]="getCustomColor"
    >
    </ngx-charts-bar-horizontal>
  </div>

  <mat-divider></mat-divider>

  <div class="divider">
    <!--<mat-list>
      <mat-list-item *ngFor="let recommendation of recommendations, index as i" class="item">
        <mat-card>
          <div class="approve_div">
            <mat-label class="approve_person">{{recommendation.payer.contact.name}}</mat-label>
            <button mat-raised-button color="primary" class="approve_button" (click)="confirmPayback(i)">Approve Payback</button>
          </div>
          <mat-label class="approve_amount">{{recommendation.payer.amount}}{{currencyMap[group.currency]}}</mat-label>
        </mat-card>
      </mat-list-item>
    </mat-list>-->
   <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1">
      <mat-grid-tile *ngFor="let recommendation of recommendations, index as i">
        <mat-card>
          <div class="approve_div">
            <mat-label class="approve_person">{{recommendation.payer.contact.name}}</mat-label>
            <button mat-raised-button *ngIf="recommendation.payer.contact.contactId===userContact.contactId"
                    color="primary" class="approve_button" (click)="confirmPayback(i)">Approve Payback</button>
          </div>
          <mat-label class="approve_amount">{{recommendation.payer.amount / 100}}{{currencyMap[group.currency]}}</mat-label>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-spinner *ngIf="loadingConfirmPayback" [diameter]="30"></mat-spinner>

  </div>
</div>
